body {
  background-image: url(../images/hp_pattern.png);
}
#fix_jumbotron {
  height: 40px;
}

div.jumbotron {
  background-color: #F1E7D6;
  margin-left: 80px;
  opacity: 0.9;
}

p, h1 {
  opacity: 1.0;
}
